body {
  font-size: 16px;
  color: #999;
  margin: 5px;
}

h1 {
  font-size: 50px;
  text-align:right;
  color: #080808;
  margin: -20px 0 -30px 0;
  letter-spacing: -4px;
}

ul {
  font-size: 12px;
}

hr {
  margin: 25px 100px;
  border-top: 1px dashed rgb(10, 10, 10);
}

.menutitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.content {
  margin: 10px;
}

.footer {
  text-align: right;
  font-size:10px;
  margin: 10px;
  border-bottom: solid 1px rgb(0, 0, 0);
  color: #ccc;
}